# ----------------------------------------
# Free MCBoot Config File
# must be in mc?:/SYS-CONF/FREEMCB.CNF or mass:/FREEMCB.CNF
#package made by El_isra (AKA: Matias Israelson) https://github.com/israpps
# ----------------------------------------
CNF_version = 1
# ----------------------------------------
Debug_Screen = 0
FastBoot = 1
ESR_Path_E1 = mass:/APPS/ESR/ESR.ELF
ESR_Path_E2 = mc?:/ESR/ESR.ELF
ESR_Path_E3 = hdd0:+OPL:pfs:/APPS/ESR/ESR.ELF
pad_delay = 0
LK_Auto_E1 = OSDSYS
LK_Circle_E1 = OSDSYS
LK_Cross_E1 = OSDSYS
LK_Square_E1 = OSDSYS
LK_Triangle_E1 = OSDSYS
LK_L1_E1 = mass:/APPS/OPL.ELF 
LK_L1_E2 = mc?:/APPS/OPNPS2LD.ELF
LK_L1_E3 = hdd0:+OPL:pfs:/APPS/OPL/OPNPS2LD.ELF
LK_R1_E1 = mass:/BOOT/BOOT.ELF
LK_R1_E2 = mc?:/APPS/BOOT.ELF
LK_R1_E3 = mc?:/B?DATA-SYSTEM/BOOT.ELF
LK_L2_E1 = mass:/BOOT/SMS.ELF
LK_L2_E2 = mc?:/BOOT/SMS.ELF
LK_L2_E3 = mc?:/B?DATA-SYSTEM/SMS.ELF
LK_R2_E1 = mass:/APPS/ESR/ESR.ELF
LK_R2_E2 = mc?:/APPS/ESR.ELF
LK_R2_E3 = hdd0:+OPL:pfs:/APPS/ESR/ESR.ELF
LK_L3_E1 = OSDSYS
LK_R3_E1 = OSDSYS
LK_Up_E1 = OSDSYS
LK_Down_E1 = POWEROFF
LK_Down_E2 = hdd0:+OPL:pfs:/APPS/POWEROFF/POWEROFF/ELF
LK_Down_E3 = mass:/APPS/POWEROFF/POWEROFF/ELF
LK_Left_E1 = OSDSYS
LK_Right_E1 = OSDSYS
LK_Start_E1 = mc?:/SYS-CONF/FMCB_CFG.ELF
LK_Start_E2 = hdd0:__sysconf:pfs:/FMCB/FMCB_CFG.ELF
LK_Start_E2 = OSDSYS
LK_Select_E1 = OSDSYS
hacked_OSDSYS = 1
OSDSYS_video_mode = AUTO
OSDSYS_Skip_Logo = 1
OSDSYS_Skip_Disc = 0
OSDSYS_Inner_Browser = 0
OSDSYS_selected_color = 0x10,0x80,0xE0,0x80
OSDSYS_unselected_color = 0x33,0x33,0x33,0x80
OSDSYS_scroll_menu = 1
OSDSYS_menu_x = 320
OSDSYS_menu_y = 110
OSDSYS_enter_x = 30
OSDSYS_enter_y = -1
OSDSYS_version_x = -1
OSDSYS_version_y = -1
OSDSYS_cursor_max_velocity = 1000
OSDSYS_cursor_acceleration = 100
OSDSYS_left_cursor = o009
OSDSYS_right_cursor = o008
OSDSYS_menu_top_delimiter = y-99Free McBoot              c0[r0.80Version %VER%r0.00]y-00
OSDSYS_menu_bottom_delimiter = c0r0.60y+99Ultimate app packagey-00r0.00
OSDSYS_num_displayed_items = 7
OSDSYS_Skip_MC = 1
OSDSYS_Skip_HDD = 1
# 
name_OSDSYS_ITEM_4 = ESR
path1_OSDSYS_ITEM_4 = mass:/APPS/ESR/ESR.ELF
path2_OSDSYS_ITEM_4 = mc?:/ESR/ESR.ELF
path3_OSDSYS_ITEM_4 = hdd0:+OPL:pfs:/APPS/ESR/ESR.ELF
#
name_OSDSYS_ITEM_5 = c1[Open PS2 Loader]
path1_OSDSYS_ITEM_5 = mass:/APPS/OPL.ELF 
path2_OSDSYS_ITEM_5 = mc?:/APPS/OPNPS2LD.ELF
path3_OSDSYS_ITEM_5 = hdd0:+OPL:pfs:/APPS/OPL/OPNPS2LD.ELF
name_OSDSYS_ITEM_6 = 1.0.0
path1_OSDSYS_ITEM_6 = mass:/APPS/OPL100/OPL100.ELF
path2_OSDSYS_ITEM_6 = hdd0:+OPL:pfs:/APPS/OPL100/OPL100.ELF
name_OSDSYS_ITEM_7 = latest
path1_OSDSYS_ITEM_7 = mass:/APPS/OPL/OPNPS2LD.ELF
path2_OSDSYS_ITEM_7 = hdd0:+OPL:pfs:/APPS/OPL/OPNPS2LD.ELF
name_OSDSYS_ITEM_8 = 0.9.3
path1_OSDSYS_ITEM_8 = mass:/APPS/OPL093/OPL093.ELF
path2_OSDSYS_ITEM_8 = hdd0:+OPL:pfs:/APPS/OPL093/OPL093.ELF
name_OSDSYS_ITEM_9 = 0.9.2
path1_OSDSYS_ITEM_9 = mass:/APPS/OPL092/OPL092.ELF
path2_OSDSYS_ITEM_9 = hdd0:+OPL:pfs:/APPS/OPL092/OPL092.ELF
name_OSDSYS_ITEM_10 = 0.9.1
path1_OSDSYS_ITEM_10 = mass:/APPS/OPL091/OPL091.ELF
path2_OSDSYS_ITEM_10 = hdd0:+OPL:pfs:/APPS/OPL091/OPL091.ELF
name_OSDSYS_ITEM_11 = 0.9.0
path1_OSDSYS_ITEM_11 = mass:/APPS/OPL090/OPL090.ELF
path2_OSDSYS_ITEM_11 = hdd0:+OPL:pfs:/APPS/OPL090/OPL090.ELF
name_OSDSYS_ITEM_12 = 0.8
path1_OSDSYS_ITEM_12 = mass:/APPS/OPL08/OPL08.ELF
path2_OSDSYS_ITEM_12 = hdd0:+OPL:pfs:/APPS/OPL08/OPL08.ELF
name_OSDSYS_ITEM_13 = 0.7
path1_OSDSYS_ITEM_13 = mass:/APPS/OPL07/OPL07.ELF
path2_OSDSYS_ITEM_13 = hdd0:+OPL:pfs:/APPS/OPL07/OPL07.ELF
name_OSDSYS_ITEM_14 = 0.6
path1_OSDSYS_ITEM_14 = mass:/APPS/OPL06/OPL06.ELF
path2_OSDSYS_ITEM_14 = hdd0:+OPL:pfs:/APPS/OPL06/OPL06.ELF
name_OSDSYS_ITEM_15 = 0.5
path1_OSDSYS_ITEM_15 = mass:/APPS/OPL05/OPL05.ELF
path2_OSDSYS_ITEM_15 = hdd0:+OPL:pfs:/APPS/OPL05/OPL05.ELF
#
name_OSDSYS_ITEM_20 = c1 [Cheats]
path1_OSDSYS_ITEM_20 = OSDSYS
name_OSDSYS_ITEM_21 = Cheat Device [PAL]
path1_OSDSYS_ITEM_21 = mass:/APPS/CHEAT-DEVICE[PAL]/CHEATDEVICE.ELF
name_OSDSYS_ITEM_22 = Cheat Device [NTSC]
path1_OSDSYS_ITEM_22 = mass:/APPS/CHEAT-DEVICE[NTSC]/CHEATDEVICE.ELF
#
name_OSDSYS_ITEM_30 = c1[uLaunchELF]
path1_OSDSYS_ITEM_30 = OSDSYS
name_OSDSYS_ITEM_31 = 4.43x_isr
path1_OSDSYS_ITEM_31 = mass:/APPS/ULE_ISR/ULE_ISR.ELF
path2_OSDSYS_ITEM_31 = hdd0:+OPL:pfs:/APPS/ULE_ISR/ULE_ISR.ELF
name_OSDSYS_ITEM_32 = 4.43a_khn
path1_OSDSYS_ITEM_32 = mass:/APPS/wLaunchELF KHN/wLaunchELF KHN.ELF
path2_OSDSYS_ITEM_32 = hdd0:+OPL:pfs:/APPS/wLaunchELF KHN/wLaunchELF KHN.ELF
name_OSDSYS_ITEM_33 = 4.43a latest
path1_OSDSYS_ITEM_33 = mass:/APPS/ULE_LATEST/BOOT.ELF
path2_OSDSYS_ITEM_33 = hdd0:+OPL:pfs:/APPS/ULE_LATEST/BOOT.ELF
#
name_OSDSYS_ITEM_40 = c1[MultiMedia]
path1_OSDSYS_ITEM_40 = OSDSYS
name_OSDSYS_ITEM_41 = SMS
path1_OSDSYS_ITEM_41 = mass:/APPS/SMS/SMS.ELF
path2_OSDSYS_ITEM_41 = hdd0:+OPL:pfs:/APPS/SMS/SMS.ELF
name_OSDSYS_ITEM_42 = Argon
path1_OSDSYS_ITEM_42 = mass:/APPS/ARGON/xmb.elf
path2_OSDSYS_ITEM_42 = hdd0:+OPL:pfs:/APPS/ARGON/xmb.elf
#
name_OSDSYS_ITEM_46 = c1[PS2ESDL]
path1_OSDSYS_ITEM_46 = OSDSYS
name_OSDSYS_ITEM_47 = v0.810 OB
path1_OSDSYS_ITEM_47 = mass:/APPS/ESDL/PS2ESDL.ELF
name_OSDSYS_ITEM_48 = v0.825 OB
path1_OSDSYS_ITEM_48 = mass:/APPS/ESDLB/PS2ESDLB.ELF
#
name_OSDSYS_ITEM_50 = c1[GSM]
path1_OSDSYS_ITEM_50 = OSDSYS
name_OSDSYS_ITEM_51 = v0.23x
path1_OSDSYS_ITEM_51 = mass:/APPS/GSM023/GSM023.ELF
path2_OSDSYS_ITEM_51 = hdd0:+OPL:pfs:/APPS/GSM023/GSM023.ELF
name_OSDSYS_ITEM_52 = v0.38
path1_OSDSYS_ITEM_52 = mass:/APPS/GSM038/GSM038.ELF
path2_OSDSYS_ITEM_52 = hdd0:+OPL:pfs:/APPS/APPS/GSM038/GSM038.ELF
name_OSDSYS_ITEM_60 = c1[Utilities]
path1_OSDSYS_ITEM_60 = OSDSYS
name_OSDSYS_ITEM_61 = MechaPwn 2.0
path1_OSDSYS_ITEM_61 = mass:/APPS/MECHAPWN/MechaPwn.elf
name_OSDSYS_ITEM_62 = LensChanger 1.2b
path1_OSDSYS_ITEM_62 = mass:/APPS/LENS_CHANGER/LCHGINST.ELF
path2_OSDSYS_ITEM_62 = hdd0:+OPL:pfs:/APPS/LENS_CHANGER/LCHGINST.ELF
name_OSDSYS_ITEM_63 = Padtest
path1_OSDSYS_ITEM_63 = mass:/APPS/PADTEST/PADTEST.ELF
path2_OSDSYS_ITEM_63 = hdd0:+OPL:pfs:/APPS/PADTEST/PADTEST.ELF
name_OSDSYS_ITEM_64 = test RAM
path1_OSDSYS_ITEM_64 = mass:/APPS/RDRAMTest/RDRAMTest.ELF
path2_OSDSYS_ITEM_64 = hdd0:+OPL:pfs:/APPS/RDRAMTest/RDRAMTest.ELF
name_OSDSYS_ITEM_65 = PS2 Ident
path1_OSDSYS_ITEM_65 = mass:/APPS/PS2Ident/PS2Ident.elf
path2_OSDSYS_ITEM_65 = hdd0:+OPL:pfs:/APPS/PS2Ident/PS2Ident.elf
name_OSDSYS_ITEM_66 = HDD Checker
path1_OSDSYS_ITEM_66 = mass:/APPS/HDDChecker[0964]/HDDChecker.elf
path2_OSDSYS_ITEM_66 = hdd0:+OPL:pfs:/APPS/HDDChecker[0964]/HDDChecker.elf
name_OSDSYS_ITEM_67 = Memory Card Anihilator 2.0
path1_OSDSYS_ITEM_67 = mass:/APPS/mca_v20/mca_v20.elf
path2_OSDSYS_ITEM_67 = hdd0:+OPL:pfs:/APPS/mca_v20/mca_v20.elf
#
name_OSDSYS_ITEM_97 = Launch disc
path1_OSDSYS_ITEM_97 = FASTBOOT
name_OSDSYS_ITEM_98 = Free MCBoot Configurator
path1_OSDSYS_ITEM_98 = mc?:/SYS-CONF/FMCB_CFG.ELF
name_OSDSYS_ITEM_99 = Restart System
path1_OSDSYS_ITEM_99 = OSDSYS
name_OSDSYS_ITEM_100 = Shutdown System
path1_OSDSYS_ITEM_100 = POWEROFF
path2_OSDSYS_ITEM_100 = mc?:/SYS-CONF/POWEROFF.ELF
path3_OSDSYS_ITEM_100 = mass:/APPS/POWEROFF/POWEROFF/ELF