# ----------------------------------------
# Free HDBoot Config File
# must be in hdd0:__sysconf/FMCB/FREEHDB.CNF, mc?:/SYS-CONF/FREEHDB.CNF or mass:/FREEHDB.CNF
# ----------------------------------------
CNF_version = 1
# ----------------------------------------
Debug_Screen = 0
FastBoot = 1
ESR_Path_E1 = mass:/BOOT/ESR.ELF
ESR_Path_E2 = mc?:/BOOT/ESR.ELF
ESR_Path_E3 = hdd0:__sysconf:pfs:/FMCB/ESR.ELF
pad_delay = 0
LK_Auto_E1 = OSDSYS
LK_Auto_E3 = OSDSYS
LK_Circle_E3 = OSDSYS
LK_Cross_E3 = OSDSYS
LK_Square_E3 = OSDSYS
LK_Triangle_E1 = FASTBOOT
LK_L1_E1 = mass:/UPDT/OPL.ELF
LK_L1_E2 = mc?:/APPS/OPNPS2LD.ELF
LK_L1_E3 = hdd0:PP.FHDB.APPS:pfs:/OPL/OPNPS2LD.ELF
LK_R1_E1 = mass:/BOOT/BOOT.ELF
LK_R1_E2 = mc?:/BOOT/BOOT.ELF
LK_R1_E3 = hdd0:__sysconf:pfs:/FMCB/BOOT.ELF
LK_L2_E3 = OSDSYS
LK_R2_E1 = hdd0:__common:pfs:/POPS/BOOT.ELF
LK_R2_E2 = hdd0:__common:pfs:/POPS/KHN.ELF
LK_R2_E3 = hdd0:__sysconf:pfs:/FMCB/KHN.ELF
LK_L3_E3 = OSDSYS
LK_R3_E3 = OSDSYS
LK_Up_E3 = OSDSYS
LK_Down_E1 = POWEROFF
LK_Left_E3 = OSDSYS
LK_Right_E3 = OSDSYS
LK_Start_E1 = hdd0:__sysconf:pfs:/FMCB/FMCB_CFG.ELF
LK_Start_E3 = OSDSYS
LK_Select_E3 = OSDSYS
hacked_OSDSYS = 1
OSDSYS_video_mode = AUTO
OSDSYS_Skip_Logo = 1
OSDSYS_Skip_Disc = 0
OSDSYS_Inner_Browser = 2
OSDSYS_selected_color = 0x10,0x80,0xE0,0x80
OSDSYS_unselected_color = 0x33,0x33,0x33,0x80
OSDSYS_scroll_menu = 1
OSDSYS_menu_x = 320
OSDSYS_menu_y = 110
OSDSYS_enter_x = 30
OSDSYS_enter_y = -1
OSDSYS_version_x = -1
OSDSYS_version_y = -1
OSDSYS_cursor_max_velocity = 1000
OSDSYS_cursor_acceleration = 100
OSDSYS_left_cursor = o006
OSDSYS_right_cursor = o005
OSDSYS_menu_top_delimiter = y-99FreeHdBoot              c0[r0.80Version %VER%r0.00]y-00
OSDSYS_menu_bottom_delimiter = c0r0.60y+99Use o009/o010 to browse listy-00r0.00
OSDSYS_num_displayed_items = 7
OSDSYS_Skip_MC = 1
OSDSYS_Skip_HDD = 1
name_OSDSYS_ITEM_1 = wLaunchELF 4.43x_isr
path1_OSDSYS_ITEM_1 = mass:/BOOT/BOOT.ELF
path2_OSDSYS_ITEM_1 = mc?:/BOOT/BOOT.ELF
path3_OSDSYS_ITEM_1 = hdd0:__sysconf:pfs:/FMCB/BOOT.ELF
name_OSDSYS_ITEM_2 = wLaunchELF 4.43x_isr_hdd
path1_OSDSYS_ITEM_2 = hdd0:__sysconf:pfs:/FMCB/ULE_ISR_HDD.ELF
path2_OSDSYS_ITEM_2 = mc?:/BOOT/ULE_ISR_HDD.ELF
name_OSDSYS_ITEM_3 = Open PS2 Loader
path1_OSDSYS_ITEM_3 = mass:/UPDT/OPL.ELF
path2_OSDSYS_ITEM_3 = mc?:/APPS/OPNPS2LD.ELF
path3_OSDSYS_ITEM_3 = hdd0:PP.FHDB.APPS:pfs:/OPL/OPNPS2LD.ELF
name_OSDSYS_ITEM_4 = Simple Media System
path1_OSDSYS_ITEM_4 = mass:/BOOT/SMS.ELF
path2_OSDSYS_ITEM_4 = mc?:/BOOT/SMS.ELF
path3_OSDSYS_ITEM_4 = mc?:/B?DATA-SYSTEM/SMS.ELF
name_OSDSYS_ITEM_5 = Launch disc
path1_OSDSYS_ITEM_5 = FASTBOOT
name_OSDSYS_ITEM_98 = Free HDBoot Configurator
path1_OSDSYS_ITEM_98 = hdd0:__sysconf:pfs:/FMCB/FMCB_CFG.ELF
name_OSDSYS_ITEM_99 = Restart System
path1_OSDSYS_ITEM_99 = OSDSYS
name_OSDSYS_ITEM_100 = Shutdown System
path1_OSDSYS_ITEM_100 = POWEROFF
